.git
.gitignore
.env
.env.example
docker-compose.yml
Dockerfile
README.md
/vendor
/node_modules
/public/build
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
/storage/logs/*.log
npm-debug.log
